/* GIMP theme.css
 *
 * This file is written on GIMP startup and on every theme change.
 * It is NOT supposed to be edited manually. Edit your personal
 * gimp.css file instead (/home/user/.config/GIMP/3.0/gimp.css).
 */

@import url("file:///nix/store/sxs18p8i2zjzhhvg4h912r2l0d4nx6w3-gimp-3.0.4/share/gimp/3.0/themes/Default/gimp-dark.css");
@import url("file:///nix/store/sxs18p8i2zjzhhvg4h912r2l0d4nx6w3-gimp-3.0.4/etc/gimp/3.0/gimp.css");

* { -gtk-icon-style: symbolic; }

/* prefer-dark-theme */


/* end of theme.css */
